* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 黑体;
    background: gray;
    padding: 20px;
}


/**头部样式****************************************************/
main {
    background: white;
    height: 1000px;
    padding: 20px;
}
.css3_input {
    height: 1.2em;
    width: 100px;
    margin: 40px;
    transition: width .5s;
}
.css3_input:focus {
    width: 200px;
}
table {
    width: 300px;
}
table thead tr {
    background: black;
    color: white;
    text-align: left;
}
table tbody tr:nth-child(even) td {
  background-color: #bbb;
}
table tbody tr:nth-child(-n+3) td {
  color: red;
}
.css3_boxshadow {
    width: 200px;
    height: 200px;
    background: skyblue;
    border-radius: 20px;
    box-shadow: 10px 10px 21px #888888;
}
.css3_change {
    margin-top: 40px;
    width: 300px;
    height: 200px;
    background: green;
}
div > div {
    width: 30px;
    height: 40px;
    background: white;
    opacity: 0.7;
    text-align: center;
    margin-right: 1px;
    float: right; 
    margin-top: 180px;
}
