* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 黑体;
    background: gray;
}


/**头部样式****************************************************/

.main_div {
    width: 980px;
    height: 1386px;
    position: absolute;
    left: 50%;
    margin-left: -534px;
    padding: 0px 0px 0px 44px;
    background: white;
}

.header_hr {
    width: 892px;
    color: #938e8c;
    size: 2px;
}

.logo_div {
    height: 61px;
    width: 110px;
    background: red;
    position: relative;
    float: left;
}

.logo_div p {
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    color: #ffffff;
    text-indent: 0.5em;
}

header span {
    display: inline-block;
    float: right;
    margin-top: 45px;
    font-size: 12px;
    color: #d45d5c;
}

header {
    display: inline-block;
    width: 892px;
    height: 61px;
    border-bottom: 2px solid #938e8c;
}


/**main***********************************************/


/******中间左边图片区域**************/

.img_middle {
    width: 641px;
    height: 301px;
}

.img_top_div {
    margin: 30px 0px 0px 0px;
    float: left;
    position: relative;
}

.cover_left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 191px;
    height: 301px;
    background: green;
    opacity: 0.4;
}

.cover_right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 191px;
    height: 301px;
    background: red;
    opacity: 0.4;
}


/******中间右边文字区域**************/

.middle_left_div {
    float: right;
    width: 203px;
    height: 301px;
    border-top: 2px solid #cc8091;
    margin-top: 30px;
    margin-right: 85px;
    position: relative;
}

.middle_left_div_about {
    text-transform: capitalize;
    font-family: 微软雅黑;
    font-size: 24px;
    color: #000000;
    text-decoration: underline;
    line-height: 40px;
    font-variant: small-caps;
}

.middle_left_div_low_word {
    font-size: 12px;
    color: #676767;
    font-family: 楷体;
    line-height: 10px;
}

.middle_left_div_big_number {
    font-size: 116px;
    color: #75b86b;
    font-family: 微软雅黑;
    font-style: oblique;
    margin-left: -30px;
    margin-top: 30px;
}

.middle_left_div_small_number {
    font-family: 微软雅黑;
    font-size: 55px;
    color: #cc8091;
    position: absolute;
    bottom: 0px;
    margin-bottom: -10px;
}

.middle_left_div_css_word {
    font-family: 微软雅黑;
    color: #cc8091;
    font-size: 21px;
    position: absolute;
    bottom: 10px;
    left: 83px;
}

.middle_left_div_css_many_low_word {
    font-family: 微软雅黑;
    color: rgb(189, 189, 189);
    font-size: 12px;
    position: absolute;
    left: 85px;
    bottom: 0px;
}


/******中间下部文字区域**************/

.middle_text {
    width: 892px;
    float: left;
    margin-top: 40px;
}

.left_passage_div {
    float: left;
    width: 230px;
    margin-right: 20px;
}

.message_tittle {
    font-size: 16px;
    color: #cc7680;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(57, 138, 84)
}

.message_article {
    margin-top: 10px;
    font-size: 12px;
    color: #231815;
    font-family: 微软雅黑;
    line-height: 16px;
    opacity: 0.7;
}

.middle_passage_div {
    float: left;
    width: 230px;
    margin-right: 20px;
}

.right_passage_div {
    float: left;
    width: 130px;
    height: 138px;
}

.What {
    font-size: 12px;
    color: #cd4a48;
    font-family: 微软雅黑;
    line-height: 16px;
    opacity: 0.7;
    margin-top: 5px;
}


/******下部 左边区域***********************************/

.footer_div {
    margin-top: 40px;
    height: 500px;
    float: left;
    position: relative;
}

.left_word_div {
    float: left;
    width: 415px;
    height: 61px;
    position: relative;
}

.THE {
    font-size: 72px;
    color: #f5e327;
    font-family: 黑体;
    font-weight: bold;
    font-style: oblique;
}

.word {
    font-size: 42px;
    color: #11456b;
    font-family: 黑体;
    line-height: 16px;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: 140px;
}

.offront {
    font-size: 42px;
    color: #11456b;
    font-family: 黑体;
    line-height: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.qianduan {
    font-size: 33px;
    color: #11456b;
    font-family: 黑体;
    font-weight: bold;
    margin-top: 20px;
    border-bottom: 2px solid #11456b;
}

.right_imh_div {
    float: right;
    position: relative;
}

.right_imh_div img {
    width: 458px;
    height: 275px;
    margin-left: 20px;
}

.img_bottom_cover {
    width: 458px;
    height: 61px;
    opacity: 0.7;
    position: absolute;
    background: black;
    right: 0;
    bottom: 0;
}

.img_border_left {
    position: absolute;
    bottom: 6px;
    left: 60px;
    border-left: 3px solid #72b16a;
    height: 44px;
}

.img_cover_big_word {
    display: inline-block;
    font-size: 26px;
    font-family: 微软雅黑;
    color: #ffffff;
    width: 120px;
    position: absolute;
    bottom: 8px;
    left: 20px;
}

.img_cover_small_word {
    font-size: 12px;
    color: #72b16a;
    font-family: 微软雅黑;
    font-style: oblique;
    position: absolute;
    display: inline-block;
    width: 100px;
    bottom: 10px;
    left: 130px;
}

.right_article_div {
    position: absolute;
    width: 459px;
    height: 318px;
    right: 0px;
    bottom: -130px;
    background: rgb(236, 235, 208);
}

.right_article_div ul li {
    margin-left: 40px;
    padding-top: 20px;
}

.right_article_div ul {
    list-style: none;
    list-style-image: url('./triangle.png')
}

.right_article_div ul li span {
    display: inline-block;
    width: 50px;
    font-size: 12px;
    color: #5a5b5b;
    font-family: 宋体;
    font-style: oblique;
    text-align: right;
}

.left_red_div {
    width: 260px;
    height: 160px;
    background: #d55d5c;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.big_zero {
    float: left;
    font-size: 110px;
    color: rgb(255, 255, 255);
    font-family: 微软雅黑;
    height: 86px;
    line-height: 86px;
    border-right: 2px solid rgb(255, 255, 255);
    margin: 37px 10px 37px 10px;
    padding-right: 5px;
}

.many_num {
    margin-top: 37px;
    font-size: 21px;
    font-family: 黑体;
    font-style: oblique;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

.left_red_div p {
    color: rgb(255, 255, 255);
}

.right_word {
    color: #5a5b5b!important;
    font-family: "黑体";
    font-style: oblique;
    line-height: 16px;
    text-indent: 3em;
    display: inline-block;
    position: absolute;
    right: -200px;
    bottom: -40px;
    width: 178px;
    height: 160px;
    margin-right: 10px;
}
.left_red_div span {
	font-size: 72px;
    color: #d45d5c;
    font-family: "黑体";
    line-height: 30px;
}
.pu_left {
	position: absolute;
	bottom: 90px;
    right: -40px;
}
.pu_right {
	position: absolute;
	bottom: 30px;
    right: -220px;
    transform: rotate(180deg);
}
.left_bottom_div {
	position: absolute;
    left: 0px;
    top: 180px;
    width: 415px;
}
.left_bottom_div p span {
	display: inline-block;
	float: left;
	font-size: 70px;
	color: #f5e327;
	font-family: "微软雅黑"；
}
.foot_hr {
	position: absolute;
	bottom: 100px;
	width: 892px;
	border-top: 1px solid #938e8c;
}
.foot_hr p {
	position: absolute;
	right: 0px;
	font-size: 12px;
	color: #d45d5c;
	font-family: "黑体";
}
.margin-top25px {
    margin-top: 25px;
}